.todo {
  width: 500px;
}
.todo__form {
  justify-content: center;
  display: flex;
}

.todo__listWrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 8px;
  position: relative;
  z-index: 1;
}
.todo_checkIcon {
}
.todo__trachIcon {
}
