.app {
  padding: 0 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.todo__form {
  justify-content: center;
  display: flex;
}

.todo__listWrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 8px;
  position: relative;
  z-index: 1;
}
.todo_checkIcon {
}
.todo__trachIcon {
}
.button {
  width: 150px;
  height: 75px;
  background-color: gray;
}
.tag {
  padding: 8px;
  // background-color: gray;
  // margin-right: 4px;
}
.deadline {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  border-radius: 4px;
  background-color: lightblue;
  padding: 2px 6px;
  margin: 0 4px;
}
.input {
  border: none;
  outline: none;
  padding-left: 4px;
  height: 100%;
}
